@model List<TheCoffeeShop.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh sách hóa đơn</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ngày thanh toán</th>
            <th>Phương thức thanh toán</th>
            <th>Mã đơn hàng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NgayThanhToan.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.PhuongThucThanhToan</td>
                <td>@item.MaDonHangNavigation?.MaDonHang</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MaHoaDon">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
